<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Log In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="sign-in-button"></div>
  <ion-card>
    <ion-card-content>
      <ion-grid class="phoneAuthGrid">
        <ion-row>
          <ion-col size="4">
            <ion-select class="phoneCountry" value="brown" okText="Okay" cancelText="Dismiss"
              (ionChange)="countryCodeChange($event)" [value]="countryCode">
              <ion-select-option *ngFor="let country of countryJson" value={{country.dial_code}}>
                {{country.dial_code + ' ' + country.name}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="8">
            <ion-input clearInput type="test" placeholder="Your Contact Number" [(ngModel)]="PhoneNo"
              class="input ion-padding-horizontal" clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="signinWithPhoneNumber($event)" expand="full">Sign in with Phone number</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-button (click)="login()" expand="full">Login Facebook</ion-button>
  <ion-button (click)="googleSignup()" expand="full">Login Google</ion-button>
  

  <ion-card *ngIf="facebookUser">
    <img [src]="facebookUser.picture.data.url">
    <ion-card-header>
      <ion-card-title>
        {{ facebookUser.name }}
      </ion-card-title>
      <ion-card-title>
        {{ facebookUser.birthday }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ facebookUser.email }}
      <ion-button (click)="logout()" expand="full">Logout</ion-button>
    </ion-card-content>
    <ion-button (click)="resetBadgeCount()" expand="full">Reset</ion-button>
  </ion-card>

  <ion-card *ngIf="googleUser">
    <ion-card-content>
      <img [src]="googleUser.imageUrl">
      <ion-card-title>
        {{ googleUser.givenName }} {{ googleUser.familyName}}
      </ion-card-title>
      <ion-card-title>
        {{ googleUser.email }}
      </ion-card-title>
      <ion-button (click)="resetBadgeCount()" expand="full">Reset</ion-button>
    </ion-card-content>
    <ion-button (click)="sendPushNotification()" expand="full">Send Notification</ion-button>
  </ion-card>
  
</ion-content>
